:root {
  --error: red;
  --primary-color: #D7225E;
  --dark-blue: #210037;
  --white: #fff;
  --white-900: #F0F0F0;
  --black-700: #202020;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background: #210037;
}

* {
  box-sizing: border-box;
}

#myapp-container {
  margin-top: 55.2px;
}

.cursor-pointer {
  cursor: pointer;
}

.title{
  color: #D7225E;
}
