#root {
  height: 22px;
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 10px;
  color: var(--black-700);
  border: 1px solid #cccaca;
  border-radius: 50px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  padding: 5px 8px;
}

.selected {
  background-color: var(--primary-color);
  color: var(--white-900) !important;
  border-color: var(--primary-color) !important;
}

#complement {
  margin-left: 8px;
}
